@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
  background-image: url('images/dark-bg.jpg'); /*Dark mode backgroundimage*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.5s ease-in-out;
}

body.light-theme {
  background-color: #ffffff;
  background-image: url('images/light-bg.jpg'); /*Light mode background image*/
}

.toggle-wrapper {
  position: relative;
}

.toggle-button {
  display: none;
}

.toggle-track {
  width: 400px;
  height: 160px;
  background: rgba(24, 24, 24, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 160px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: background 0.5s ease-in-out;
}

body.light-theme .toggle-track {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0 0 10px rgba(196, 196, 196, 0.3);
  transition: background 0.5s ease-in-out;
}

/* Knob with sun/moon icon */
.knob {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 140px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  transition: transform 0.5s ease-out;
}

body.light-theme .knob {
  transform: translateX(230px);
}

.knob img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(1.9);
}

/* text on toggle button*/
.toggle-label {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "caveat", cursive;
  font-weight: 1000;
  font-size: 40px;
  color: #0270ff;
  transition: all 0.5s ease-out;
}

body.light-theme .toggle-label {
  left: 15%;
  color: #ffcd45;
  font-weight: 1000;
}

@media (max-width: 480px) {
  .toggle-track {
    width: 250px;
    height: 100px;
  }

  .knob {
    width: 100px;
    height: 80px;
    top: 20px;
  }

  body.light-theme .knob {
    transform: translateX(170px);
  }

  .knob img {
    transform: scale(1.5);
  }

  .toggle-label {
    font-size: 28px;
    left: 70%;
  }

  body.light-theme .toggle-label {
    left: 25%;
  }
}

/* For tablets (max 768px) */
@media (max-width: 768px) {
  .toggle-track {
    width: 340px;
    height: 140px;
  }

  .knob {
    width: 120px;
    height: 100px;
    top: 21px;
  }

  body.light-theme .knob {
    transform: translateX(200px);
  }

  .knob img {
    transform: scale(1.6);
  }

  .toggle-label {
    font-size: 40px;
    left: 73%;
  }

  body.light-theme .toggle-label {
    left: 27%;
  }
}
